.courses-se{
    width: 100%;
    height: fit-content;
    padding-top: 40px;
}

/*Cards*/

.containor-co div img{
    width: 350px;
    height: 250px;
}

.containor-co div{
    margin: 100px auto;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containor-co div img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.title-co{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.containor-co div a:hover{
    color: royalblue;
}

.title-co{
    text-decoration: none;
    color: black;
}

/*Containor Cards*/
.containor-co{
    width: 100%;
    height: fit-content;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    align-items: center;
}

@media (max-width:539px){

    .containor-co div img{
        width: 250px;
        height: 150px;
    }

    .containor-co div{
        margin: 50px auto;
    }

    .containor-co{
        grid-template-columns: auto;
    }
}

@media (width:280px){

    .containor-co div img{
        width: 170px;
        height: 120px;
    }

    .containor-co div{
        margin: 50px auto;
    }

    .title-co{
        font-size: 1.5rem;
    }

    .containor-co{
        grid-template-columns: auto;
    }
}

@media (min-width:540px){

    .containor-co{
        display: grid;
        grid-template-columns: auto;
    }

    .title-co{
        font-size: 3rem;
    }
    
}

@media (min-width:1000px){
    .containor-co{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .title-co{
        font-size: 2.5rem;
    }
}