.courses-se{
    width: 100%;
    height: 100vh;
    padding: 20px;
}

/*Cards*/

.containor-co div img{
    width: 350px;
    height: 250px;
}

.containor-co div{
    margin: 100px auto;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containor-co div img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.title-co{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.containor-co div a:hover{
    color: royalblue;
}

/*Containor Cards*/
.containor-co{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:539px){

    .main-header{
        padding: 10px 20px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .header-title{
        font-size: 2.5rem;
    }

    header .login{
        display: none;
    }

    .login.menu{
        display: block;
    }

    header nav ul li{
        display: block;
        margin-top: 10px;
    }

    header nav .nav-links{
        position: absolute;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -80%;
        z-index: 10;
        background-color: #eee;
        padding: 20px;
        transition: 0.1s;
        display: flex;
        flex-direction: column;
    }

    .list-icon{
        display: block;
        font-size: 20px;
    }

    .x-icon{
        display: block;
        margin-bottom: 20px;
    }

    .containor-co div img{
        width: 250px;
        height: 150px;
    }

    .containor-co div{
        margin: 50px auto;
    }
}

@media (width:280px){
    .header-title{
        font-size: 2rem;
    }

    .containor-co div img{
        width: 170px;
        height: 120px;
    }

    .containor-co div{
        margin: 50px auto;
    }
}

@media (min-width:540px){

    .main-header{
        padding: 20px 30px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .header-title{
        font-size: 3.3rem;
    }

    header .login{
        display: none;
    }

    .login.menu{
        display: block;
    }

    header nav ul li{
        display: block;
        margin-top: 10px;
    }

    header nav .nav-links{
        position: absolute;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -80%;
        z-index: 10;
        background-color: #eee;
        padding: 20px;
        transition: 1s;
        display: flex;
        flex-direction: column;
    }
    
    .list-icon{
        display: block;
        font-size: 30px;
    }

    .x-icon{
        display: block;
        margin-bottom: 30px;
    }

    .containor-co{
        display: grid;
        grid-template-columns: auto;
    }
    
}

@media (min-width:1000px){
    .containor-co{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}