.offer-se{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-se .containor{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.offer-se .offer-image{
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-bottom: 20px;
    top: 20%;
}

.offer-se .offer-image img{
    width: inherit;
    height: inherit;
}

.offer-se .info-offer{
    max-width: 70%;
    text-align: center;
}

.info-offer h1{
    font-size: 3rem;
    font-weight: bold;
    color: gold;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
}

@media (max-width:539px){
    
    .info-offer h1{
        font-size: 1.3rem;
        font-weight: bold;
        color: gold;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
    }

}

@media (width:280px){
    
    .info-offer h1{
        font-size: 1rem;
        font-weight: bold;
        color: gold;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
    }
}

@media (width:540px){
    .offer-se .info-offer h1{
        font-size: 2rem;
    }
}

@media (min-width:540px){

    .info-offer{
        position: absolute;
        top: 50%;
    }
    
    .info-offer h1{
        font-size: 3rem;
        font-weight: bold;
        color: gold;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
    }
}

@media (min-width:990px){
    .offer-se .offer-image{
        position: absolute;
        width: 70%;
        height: 70%;
        text-align: center;
        margin-bottom: 20px;
        top: 20%;
    }

    .info-offer{
        position: absolute;
        top: 75%;
    }
}