@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

html{
    font-size: 10px;
}

body{
    overflow-x: hidden;
}

.list-icon{
    cursor: pointer;
    text-align: center;
}

.x-icon{
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}

.login.menu{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 20px auto;
    width: 130px;
    cursor: pointer;
}

.main-header{
    width: 100%;
    height: fit-content;
    background-color: #eee;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    padding: 1% 3%;
}

.header-title{
    font-size: 3.5rem;
    font-weight: bold;
    color: royalblue;
    text-decoration: none;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    max-width: 750px;
    height: fit-content;
    flex-wrap: wrap;
}

.main-header .main-nav ul li{
    list-style: none;
    padding: 10px 20px;
}

.main-nav ul li .list{
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-nav ul .list::after{
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background-color: darkblue;
    transition: 0.5s;
}

.main-nav ul .list:hover::after{
    width: 100%;
}

.login.menu{
    background-color: non;
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid rgb(0, 0, 56);
    background-color: royalblue;
    padding: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.login.menu:hover{
    background-color: darkblue;
}

@media (width:280px){
    .main-header .header-title{
        font-size: 1.7rem;
    }

    .list-icon{
        font-size: 1.7rem;
    }
    
    .x-icon{
        font-size: 1.7rem;
    }

    .main-header{
        padding: 0px;
    }
}

@media (max-width:539px){

    .main-header{
        padding: 10px;
    }

    .header-title{
        font-size: 2.3rem;
    }

    .list-icon{
        font-size: 2.3rem;
    }
    
    .x-icon{
        font-size: 2.3rem;
    }
}