* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

html{
    font-size: 10px;
}

body{
    background-color: rgb(224, 224, 224);
}

.info-up{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-log-form{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

h1{
    color: royalblue;
    font-size: 3rem;
}

hr{
    width: 70%;
    height: 3px;
    outline: none;
    border: 0px;
    border-radius: 20px;
    background-color: royalblue;
    margin: 20px 0;
}

.mid-info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
}

.mid-info .info-box{
    margin: 15px auto;
    text-align: center;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid rgb(0, 158, 197);
    border-radius: 20px;
    padding: 10px;
    transition: 0.25s;
}

.mid-info .info-box:focus{
    border-color: blue;
    width: 250px;
}

.log-btns{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    margin: 20px auto;
}

.log-btns input[type="submit"]{
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.log-btns button{
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid green;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.log-btns input[type="submit"]:hover{
    color: white;
    background-color: blue;
}

.log-btns button:hover{
    color: white;
    background-color: green;
}

@media (max-width:539px){
    .div-log-form{
        width: 300px;
    }
}

@media (width:280px){
    .div-log-form{
        width: 260px;
    }
}

@media (min-width:540px){
    .div-log-form{
        width: 420px;
    }
}