.mainpage-section{
    width: 100%;
    height: 100vh;
    background-image: url("../images/main-page/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-info{
    width: 80%;
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
    margin: 0% auto;
}

.greeting-info h1{
    color: gold;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px;
}

.greeting-info p{
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 25px;
}

.mainpage-section-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form{
    text-align: center;
    width: 100vw;
    height: fit-content;
}

.main-form input[type=text]{
    width: 40rem;;
    height: fit-content;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 2px solid royalblue;
    color: white;
    font-size: 1.8rem;
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder{
    color: whitesmoke;
    font-size: 1.7rem;
}


.main-form .search-box:focus{
    border-color: darkblue;
}

.search-btn{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid darkblue;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

.search-btn:hover{
    background-color: darkblue;
    border-bottom: 2px solid rgb(0, 0, 51);
}

@media (max-width:539px){

    .main-header{
        padding: 10px 20px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .header-title{
        font-size: 2.5rem;
    }

    header .login{
        display: none;
    }

    .login.menu{
        display: block;
    }

    header nav ul li{
        display: block;
        margin-top: 10px;
    }

    header nav .nav-links{
        position: absolute;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -80%;
        z-index: 10;
        background-color: #eee;
        padding: 20px;
        transition: 0.1s;
        display: flex;
        flex-direction: column;
    }

    .main-form input[type=text]{
        width: 25rem;
        height: fit-content;
    }

    .list-icon{
        display: block;
        font-size: 20px;
    }

    .x-icon{
        display: block;
        margin-bottom: 20px;
    }

    .greeting-info h1{
        font-size: 3rem;
    }
    
    .greeting-info p{
        font-size: 1.3rem;
        line-height: 20px;
    }

}

@media (width:280px){
    .header-title{
        font-size: 2rem;
    }

    .main-form .search-box{
        width: 20rem;
        margin: auto;
    }

    .main-form input[type=text]{
        width: 19rem;
        height: fit-content;
    }
}

@media (min-width:540px){

    .main-header{
        padding: 20px 30px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .header-title{
        font-size: 3.3rem;
    }

    header .login{
        display: none;
    }

    .login.menu{
        display: block;
    }

    header nav ul li{
        display: block;
        margin-top: 10px;
    }

    header nav .nav-links{
        position: absolute;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -80%;
        z-index: 10;
        background-color: #eee;
        padding: 20px;
        transition: 1s;
        display: flex;
        flex-direction: column;
    }

    .main-form input[type=text]{
        width: 40rem;
        height: fit-content;
    }

    .list-icon{
        display: block;
        font-size: 30px;
    }

    .x-icon{
        display: block;
        margin-bottom: 30px;
    }
}