@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

html{
    font-size: 10px;
}

.list-icon{
    display: none;
}

.x-icon{
    display: none;
    font-size: 20px;
    text-align: right;
}

header{
    width: 100%;
    height: fit-content;
    padding: 1% 0%;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.header-title{
    font-size: 3.5rem;
    font-weight: bold;
    color: royalblue;
    text-decoration: none;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    max-width: 750px;
    height: fit-content;
    flex-wrap: wrap;
}

.main-nav ul li{
    list-style: none;
    padding: 10px 20px;
}

.main-nav ul li .list{
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-nav ul .list::after{
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background-color: darkblue;
    transition: 0.5s;
}

.main-nav ul .list:hover::after{
    width: 100%;
}

.login{
    background-color: non;
    outline: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(0, 0, 56);
    background-color: royalblue;
    padding: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.mainpage-section{
    width: 100%;
    height: 100vh;
    background-image: url("../images/main-page/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form .search-box{
    width: 40rem;
    height: auto;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 2px solid royalblue;
    color: white;
    font-size: 1.8rem;
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder{
    color: whitesmoke;
    font-size: 1.7rem;
}

.main-form .search-box:focus{
    border-color: darkblue;
}

.search-btn{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid darkblue;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

.search-btn:hover{
    background-color: darkblue;
    border-bottom: 2px solid rgb(0, 0, 51);
}

.login:hover{
    background-color: darkblue;
}

@media (max-width:539px){

    header{
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .header-title{
        font-size: 2.5rem;
    }

    header .login{
        display: none;
    }

    header nav ul li{
        display: block;
        margin-top: 10px;
    }

    header nav .nav-links{
        position: absolute;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -80%;
        z-index: 10;
        background-color: #eee;
        padding: 20px;
        transition: 1s;
        display: block;
    }

    .main-form .search-box{
        width: 25rem;
        height: fit-content;
    }

    .list-icon{
        display: block;
        font-size: 20px;
    }

    .x-icon{
        display: block;
        margin-bottom: 20px;
    }

}

@media (min-width:767px){
    
}